docs/n8n-workflows/membership-started.json
{
  "name": "Membership Started \u2192 Email Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "membership-started",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "b2c3d4e5-2222-4bbb-b222-000000000001",
      "name": "Webhook",
      "webhookId": "b2c3d4e5-2222-4bbb-b222-100000000001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2000001-0001-4000-8000-000000000001",
              "name": "membershipTier",
              "value": "={{ $json.data?.membership_name ?? $json.data?.membershipName ?? $json.data?.membership_tier ?? $json.membershipName ?? 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "f2000001-0001-4000-8000-000000000002",
              "name": "price",
              "value": "={{ $json.data?.price ?? $json.data?.monthlyPrice ?? $json.price ?? 0 }}",
              "type": "number"
            },
            {
              "id": "f2000001-0001-4000-8000-000000000003",
              "name": "clientName",
              "value": "={{ $json.data?.client_name ?? $json.data?.clientName ?? [($json.data?.clientFirstName ?? ''), ($json.data?.clientLastName ?? '')].filter(v => v).join(' ') || 'Client' }}",
              "type": "string"
            },
            {
              "id": "f2000001-0001-4000-8000-000000000004",
              "name": "startDate",
              "value": "={{ $json.data?.start_date ?? $json.data?.startDate ?? new Date().toISOString().split('T')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300],
      "id": "b2c3d4e5-2222-4bbb-b222-000000000002",
      "name": "Extract Membership Fields"
    },
    {
      "parameters": {
        "fromEmail": "info@ranibeautyclinic.com",
        "toEmail": "info@ranibeautyclinic.com",
        "subject": "=\ud83c\udf89 New Membership \u2014 {{ $json.clientName }} joined {{ $json.membershipTier }}",
        "html": "=<div style=\"font-family: 'Helvetica Neue', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 24px; background: #fafafa; border-radius: 12px;\">\n  <h2 style=\"color: #1a1a1a; margin: 0 0 20px 0; font-size: 22px;\">\ud83c\udf89 New Membership Activated</h2>\n  <table style=\"width: 100%; border-collapse: collapse;\">\n    <tr><td style=\"padding: 10px 0; color: #666; font-size: 14px;\">Client</td><td style=\"padding: 10px 0; font-weight: 600; font-size: 14px;\">{{ $json.clientName }}</td></tr>\n    <tr style=\"background: #fff;\"><td style=\"padding: 10px; color: #666; font-size: 14px;\">Membership Tier</td><td style=\"padding: 10px; font-weight: 600; font-size: 14px; color: #7c3aed;\">{{ $json.membershipTier }}</td></tr>\n    <tr><td style=\"padding: 10px 0; color: #666; font-size: 14px;\">Monthly Price</td><td style=\"padding: 10px 0; font-weight: 600; font-size: 14px; color: #16a34a;\">${{ $json.price }}/mo</td></tr>\n    <tr style=\"background: #fff;\"><td style=\"padding: 10px; color: #666; font-size: 14px;\">Start Date</td><td style=\"padding: 10px; font-weight: 600; font-size: 14px;\">{{ $json.startDate }}</td></tr>\n  </table>\n  <div style=\"margin-top: 20px; padding: 16px; background: #f0fdf4; border-radius: 8px; border-left: 4px solid #16a34a;\">\n    <p style=\"margin: 0; font-size: 14px; color: #166534;\"><strong>Next step:</strong> Send a welcome message and schedule their first member-exclusive treatment.</p>\n  </div>\n  <p style=\"color: #999; font-size: 12px; margin-top: 20px; text-align: center;\">Rani Beauty Clinic \u2022 Automated via n8n</p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "id": "b2c3d4e5-2222-4bbb-b222-000000000003",
      "name": "Send Membership Email",
      "credentials": {
        "smtp": {
          "id": "de861Fmy6gbefBzY",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 300],
      "id": "b2c3d4e5-2222-4bbb-b222-000000000004",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Membership Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Membership Fields": {
      "main": [
        [
          {
            "node": "Send Membership Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Membership Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Rani Beauty Clinic",
      "id": "rani-tag-001"
    },
    {
      "name": "Memberships",
      "id": "rani-tag-003"
    }
  ],
  "triggerCount": 1,
  "id": "wf-rani-membership-started-001",
  "meta": {
    "instanceId": "rani-beauty-clinic-n8n"
  }
}
