docs/n8n-workflows/sale-completed.json
{
  "name": "Sale Completed \u2192 Email Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sale-completed",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "a1b2c3d4-1111-4aaa-b111-000000000001",
      "name": "Webhook",
      "webhookId": "a1b2c3d4-1111-4aaa-b111-100000000001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1000001-0001-4000-8000-000000000001",
              "name": "date",
              "value": "={{ $json.data?.completed_at ?? $json.data?.date ?? $json.completed_at ?? $json.date ?? new Date().toISOString().substring(0, 10) }}",
              "type": "string"
            },
            {
              "id": "f1000001-0001-4000-8000-000000000002",
              "name": "amount",
              "value": "={{ $json.data?.total ?? $json.data?.amount ?? $json.total ?? $json.amount ?? 0 }}",
              "type": "number"
            },
            {
              "id": "f1000001-0001-4000-8000-000000000003",
              "name": "serviceName",
              "value": "={{ ($json.data?.services ?? [])[0]?.name ?? $json.data?.serviceName ?? $json.serviceName ?? 'Treatment' }}",
              "type": "string"
            },
            {
              "id": "f1000001-0001-4000-8000-000000000004",
              "name": "provider",
              "value": "={{ ($json.data?.services ?? [])[0]?.provider_name ?? $json.data?.staffName ?? $json.staffName ?? 'Rani' }}",
              "type": "string"
            },
            {
              "id": "f1000001-0001-4000-8000-000000000005",
              "name": "paymentMethod",
              "value": "={{ $json.data?.payment_method ?? $json.data?.paymentMethod ?? $json.paymentMethod ?? 'Card' }}",
              "type": "string"
            },
            {
              "id": "f1000001-0001-4000-8000-000000000006",
              "name": "saleId",
              "value": "={{ $json.data?.id ?? $json.saleId ?? $json.id ?? 'N/A' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300],
      "id": "a1b2c3d4-1111-4aaa-b111-000000000002",
      "name": "Extract Sale Fields"
    },
    {
      "parameters": {
        "fromEmail": "info@ranibeautyclinic.com",
        "toEmail": "info@ranibeautyclinic.com",
        "subject": "=\ud83d\udcb0 Sale Completed \u2014 ${{ $json.amount }} for {{ $json.serviceName }}",
        "html": "=<div style=\"font-family: 'Helvetica Neue', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 24px; background: #fafafa; border-radius: 12px;\">\n  <h2 style=\"color: #1a1a1a; margin: 0 0 20px 0; font-size: 22px;\">\ud83d\udcb0 Sale Completed</h2>\n  <table style=\"width: 100%; border-collapse: collapse;\">\n    <tr><td style=\"padding: 10px 0; color: #666; font-size: 14px;\">Date</td><td style=\"padding: 10px 0; font-weight: 600; font-size: 14px;\">{{ $json.date }}</td></tr>\n    <tr style=\"background: #fff;\"><td style=\"padding: 10px; color: #666; font-size: 14px;\">Amount</td><td style=\"padding: 10px; font-weight: 600; font-size: 14px; color: #16a34a;\">${{ $json.amount }}</td></tr>\n    <tr><td style=\"padding: 10px 0; color: #666; font-size: 14px;\">Service</td><td style=\"padding: 10px 0; font-weight: 600; font-size: 14px;\">{{ $json.serviceName }}</td></tr>\n    <tr style=\"background: #fff;\"><td style=\"padding: 10px; color: #666; font-size: 14px;\">Provider</td><td style=\"padding: 10px; font-weight: 600; font-size: 14px;\">{{ $json.provider }}</td></tr>\n    <tr><td style=\"padding: 10px 0; color: #666; font-size: 14px;\">Payment Method</td><td style=\"padding: 10px 0; font-weight: 600; font-size: 14px;\">{{ $json.paymentMethod }}</td></tr>\n    <tr style=\"background: #fff;\"><td style=\"padding: 10px; color: #666; font-size: 14px;\">Sale ID</td><td style=\"padding: 10px; font-weight: 600; font-size: 14px; font-family: monospace;\">{{ $json.saleId }}</td></tr>\n  </table>\n  <p style=\"color: #999; font-size: 12px; margin-top: 20px; text-align: center;\">Rani Beauty Clinic \u2022 Automated via n8n</p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "id": "a1b2c3d4-1111-4aaa-b111-000000000003",
      "name": "Send Sale Email",
      "credentials": {
        "smtp": {
          "id": "de861Fmy6gbefBzY",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 300],
      "id": "a1b2c3d4-1111-4aaa-b111-000000000004",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Sale Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sale Fields": {
      "main": [
        [
          {
            "node": "Send Sale Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Sale Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Rani Beauty Clinic",
      "id": "rani-tag-001"
    },
    {
      "name": "Sales",
      "id": "rani-tag-002"
    }
  ],
  "triggerCount": 1,
  "id": "wf-rani-sale-completed-001",
  "meta": {
    "instanceId": "rani-beauty-clinic-n8n"
  }
}
